<script type="text/template" id="conclusion-template">

    <div id="intro-view" style="background-color:<%= colors.backgroundColor %>;">
        <div class="bg-texture"></div>

        <div class="conclusion-record-container">
            <div class="conclusion-record"></div>
            <div class="conclusion-record-light"></div>
            <div class="conclusion-record-arm"></div>
        </div>
        <div class="conclusion-banner-container"></div>

        <hr class="splash-hr"  style="background-color:<%= colors.accentColor %>;" />
        <div class="splash-text-container">
            <h1 class="popup-title"></h1>
            <div class="popup-body"></div>
        </div>
        <hr class="splash-hr"  style="background-color:<%= colors.accentColor %>;" />

    </div>

</script>