<script type="text/template" id="introview-template">

    <div id="intro-view" >
        <img class="bg-image" src="assets/images/intro/intro-bg.jpg"/>


        <img class="intro-pandora-logo" src="assets/images/intro/intro-pandora-logo.png"/>
        <img class="intro-rote-logo" src="assets/images/intro/intro-rote-logo.png"/>

        <div class="intro-academy-group">
            <img class="intro-academy-logo" src="assets/images/intro/intro-academy-logo.png"/>
            <img class="intro-academy-text" src="assets/images/intro/intro-academy-text.png"/>
        </div>

        <div class="intro-banner-container">
            <img class="intro-banner" src="assets/images/intro/intro-banner.png"/>
        </div>

        <div class="intro-maximize-window">For the best experience,<br>maximize your browser window!</div>

        <div id="intro-rolechooser-container">

            <div class="input-item">
                <select id="intro-user-role" class="styled-select" name="foo">
                    <option value="" disabled selected>Select your role</option>
                    <% _.each(roleChooser.roles, function(role){ %>
                    <option value="<%= _.escape(role.id)%>">
                        <%= _.escape(role.title) %>
                    </option>
                    <% }); %>
                </select>
                <div id="intro-continue-button" data-id="continue"></div>
            </div>
        </div>


    </div>

</script>