$max-height: 900px;
$max-width: 1500px;
$min-height: 550px;
$min-width: 976px;


$font-osterich: 'ostrich_sansheavy', sans-serif;

$font-h1: 'parisishregular', sans-serif;
$font-h2: 'caviar_dreamsbold', sans-serif;
$font-h3: 'caviar_dreamsregular', sans-serif;
$font-body: 'Avenir', sans-serif;
$font-button: 'parisishregular', sans-serif;
$font-cursive: 'Gloria Hallelujah', cursive;

$main-white: #fff;
$main-brown: #433a35;

$overlay-color: #5cb6fc;
