$max-height: 900px;
$max-width: 1500px;
$min-height: 550px;
$min-width: 976px;


$font-osterich: 'ostrich_sansheavy', sans-serif;

$font-h1: 'Avenir', sans-serif;
$font-h2: 'Avenir', sans-serif;
$font-h3: 'Avenir', sans-serif;
$font-body: 'Avenir', sans-serif;
$font-button: 'Avenir', sans-serif;

$main-gray: #333;

$overlay-color: #683c7c;
