<script type="text/template" id="discoballs-mainview-template">

    <div id="discoballs-view" style="background-color:<%= colors.backgroundColor %>;">
        <div class="bg-texture"></div>

        <div class="module-title"><h1><%= name %></h1></div>

        <div class="discoballs-dancefloor"></div>

        <div id="discoballs-details-container">
        <% var yPos = 0  %>
        <% _.each(items, function (item, i) {  %>
            <div class="discoballs-shoes-container">
            <ul class="discoballs-shoes" data-id="<%= item.id %>">
                <% _.each(item.details, function (detail, j) {  %>
                    <li class="discoballs-shoe" data-id="<%= detail.id %>" style="background-position-x: -<%= 200*(yPos++) %>px">
                        <h4 class="discoballs-shoe-label"><%= detail.label %></h4>
                        <div class="discoballs-done-check"></div>
                    </li>
                <%  }); %>
            </ul>
            </div>
        <%  }); %>
        </div>

        <div class="discoballs-dryice"></div>


        <div class="discoballs-balls-container">
            <% _.each(items, function (item, index) {  %>
            <div class="discoballs-ball" data-id="<%= item.id %>">
            <div class="discoballs-done-check"></div>
            </div>
            <%  }); %>
        </div>

        <div class="popup-container"></div>


        <div class="main-button continue-button enabled" data-id="continue">Continue</div>

        <div class="splash-container"></div>
        <div class="conclusion-container"></div>

    </div>

</script>