#temp-loading-view {
    position: absolute;
    top: 0;
    width: 100vw;
    height: 100vh;
    max-width: 1500px;
    max-height: 900px;
    overflow: hidden;
    background-color: #1e2b43;
    text-align: center;

    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}

#temp-loading-view .loader-holder {
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    position: absolute;
    width: 150px;
    height: 178px; 
}
#temp-loading-view .loader-holder .loader-bg {
    position: absolute;
    top: 0;
    width: 150px;
    height: 178px;
    background: url(../assets/images/preloader/logo_white.png);
    opacity: 0.3; 
}
#temp-loading-view .loader-holder .loader-mask {
    position: absolute;
    top: 0;
    width: 0;
    height: 178px;
    overflow: hidden; 
}
#temp-loading-view .loader-holder .loader-mask .loader-P {
    width: 150px;
    height: 178px;
    background: url(../assets/images/preloader/logo_white.png); 
}
#temp-loading-view .loader-holder .loader-msg {
    position: absolute;
    top: 200px;
    color: rgba(255,255,255,0.5);
    font-family: "Avenir", sans-serif;
    font-weight: 200;
    font-size: 28px;
    text-align: center;
    width: 100%;
}