<script type="text/template" id="cr-mediaplans-s3-template">

    <div id="cr-mediaplans-s3-items-container" class="reveal-items-container">
        <div class="reveal-items-buttons-container">
            <% _.each(items, function (item, i) { %>
                <div class="reveal-item" data-id="<%= i %>">

                </div>
            <% }); %>
        </div>
    </div>

    <div id="cr-mediaplans-s3-text-box" class="reveal-text-box fancy-popup">
        <div class="content"></div>
    </div>


</script>

