<script type="text/template" id="creativepolicies-mainview-template">

    <div id="creative-view" style="background-color:<%= colors.backgroundColor %>;">
        <div class="bg-texture"></div>

        <div class="module-title color-<%= modulename %>"><h1 style="color:<%= colors.highlightColor %>;"><%= name %></h1></div>

        <div class="splash-bg-elements bg-creativepolicies"></div>

        <div class="creative-radio-container">
            <div class="creative-question-container"><p><%= text.question %></p></div>
            <div class="creative-submit-button"></div>
            <div class="creative-radio-station-label"></div>
            <div class="creative-buttons">

            </div>
        </div>

        <div class="scrim-background"></div>

        <div class="main-button continue-button enabled" data-id="continue">Continue</div>

        <div class="feedback-container"></div>


        <div class="splash-container"></div>
        <div class="conclusion-container"></div>

    </div>

</script>