<script type="text/template" id="quiz-mainview-template">

    <div id="quiz-view" style="background-color:<%= colors.backgroundColor %>;">
        <div class="bg-texture"></div>

        <div class="module-title"><h1 ><%= name %></h1></div>

        <div class="quiz-bg"></div>

        <div class="quiz-dryice"></div>

        <div class="quiz-discoball"></div>
        <div class="quiz-lights">
            <div class="lights-1"></div>
            <div class="lights-2"></div>
        </div>

        <div class="quiz-dj-container">

            <div class="quiz-dj-stand">
                <h2></h2>
            </div>
        </div>

        <div class="quiz-question-box">
            <div class="quiz-q">Q:</div>
            <h2 class="content"></h2>
        </div>

        <div class="quiz-answer-box ">
            <h2><%= text.directions %></h2>
            <div class="content"></div>
        </div>



        <div class="quiz-answer quiz-answer-choice enabled proto"> </div>

        <div class="quiz-nOFn"></div>

        <div class="scrim-background"></div>

        <div class="popup-container"></div>


        <div class="splash-container"></div>

        <div class="conclusion-container"></div>


    </div>


</script>