#badge-view {
  @extend %view;
  //background: url(../assets/images/badges/badges-banner.png) no-repeat top center;
  //padding-top: 80px;
  .badge-box {
    width: 1200px;
    @include center-align;
    //margin-top: 50px;
  }
  .badge-holder {
    position: relative;
    width: 400px;
    height: 280px;
    float: left;
    margin: -10px 0px 0px 0px;
    @include scale(0.7, 0.7);


    & .badge-ghost {
      position: absolute;
      display: block;
      width: 400px;
      height: 280px;
      top: 0px;
      left: 50%;
      margin-left: -200px;
      background: url(../assets/images/badges/badge-ghost.png) no-repeat;
    }

    & .badge {
      position: absolute;
      display: block;
      width: 400px;
      height: 280px;
      top: 0px;
      left: 50%;
      margin-left: -200px;
    }

    & .badge-banner {
      background: url(../assets/images/badges/badge-bg.png) no-repeat top center;
      position: absolute;
      display: block;
      bottom: -100px;
      left: 50%;
      margin-left: -200px;
      width: 400px;
      height: 85px;

      & h1 {
        font-size: 3.6em;
        text-align: center;
        margin-top: 30px;
        text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
      }

    }

    &:nth-of-type(2) .badge-banner{background-position: 0 -85px;}
    &:nth-of-type(3) .badge-banner{background-position: 0 -170px;}
    &:nth-of-type(4) .badge-banner{background-position: 0 -255px;}
    &:nth-of-type(5) .badge-banner{background-position: 0 -340px;}
    &:nth-of-type(6) .badge-banner {background-position: 0 -425px;}

  }
}