#customJiraTrigger {
  position: fixed;
  right: -13px;
  bottom: 25px;
  box-sizing: border-box;
  padding: 3px 5px 4px 5px;
  height: 25px;
  background: #555555;
  color: white;
  -webkit-border-top-left-radius: 8px;
  -webkit-border-top-right-radius: 8px;
  -moz-border-radius-topleft: 8px;
  -moz-border-radius-topright: 8px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  font-size: 14px;
  font-weight: bold;

  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
  &:hover {
    background: #444444;
  }

  @include box-shadow(rgba(0,0,0,.5) 0px -1px 12px 0px);

  border-left: 2px white solid;
  border-top: 2px white solid;
  border-right: 2px white solid;
  cursor: pointer;
}
