

#loading-view {
  width: 100vw;
  height: 100vh;
  max-width: $max-width;
  max-height: $max-height;

  overflow: hidden;
  position: relative;
  //background-color: $overlay-color;
  background-color: #1e2b43;
  text-align: center;
  & .loader-holder {
    @include center-align();

    $wd: 150px;
    $ht: 178px;

    width: $wd;
    height: $ht;

    & .loader-bg {
      position: absolute;
      top: 0;
      width: $wd;
      height: $ht;
      background: url(../assets/images/preloader/logo_white.png);
      opacity: 0.3;
    }

    & .loader-mask {
      position: absolute;
      top: 0;
      width: 0;
      height: $ht;
      overflow: hidden;

      & .loader-P {
        width: $wd;
        height: $ht;
        background: url(../assets/images/preloader/logo_white.png);
      }
    }

    & .loader-msg {
      position: absolute;
      top: 200px;
      color: #fff;
      font-family: "Avenir", sans-serif;
      font-weight: 200;
      font-size: 28px;
      text-align: center;
      width: 100%;
    }
  }
}




