#menu-view {
  position: absolute;
  width: 100vw;
  height: 100vh;
  max-width: 1500px;
  max-height: $max-height;
  overflow-y: scroll;
  overflow-x: hidden;
}
#menu-content {
  position: absolute;
  width: 100vw;
  max-width: $max-width;
  height: 8042px;
  &.performance {
    height: 7200px;
    overflow: hidden;
  }
  //overflow: hidden;
}

.menu-element {
  position: absolute;
  //pointer-events: none;
}

.menu-scroll-container {
  @include horizontal-align();
  max-width: $max-width;
  width: 100vw;
  height: 8042px;

}


#menu-bg {
  position: absolute;
  @include horizontal-align;
  top: 0px;
}

.menu-module {
  //background: url(../assets/images/ui/popup/menu-card.png) no-repeat;
  background-image: url(../assets/images/menu/menu-card-top.png), url(../assets/images/menu/menu-card-bottom.png), url(../assets/images/menu/menu-card-center.png);
  background-position: center top, center bottom, center center;
  background-repeat: no-repeat, no-repeat, repeat;
  width: 550px;
  min-height: 550px;
  left: 50%;
  box-sizing: border-box;
  padding: 120px 50px 50px;
  position: absolute;
  @include box-shadow(2px 2px 8px rgba(0,0,0,0.8));

  & .content {
    text-align: center;
  }
}



#mod-1 {
  margin-left: 0px;
  top: 980px;
  @include rotate(13deg);
}
#mod-2 {
  margin-left: -550px;
  top: 1955px;
  @include rotate(-10deg);
}
#mod-3 {
  margin-left: -50px;
  top: 3100px;
  @include rotate(12deg);
}
#mod-4 {
  margin-left: -380px;
  top: 4150px;
  @include rotate(-30deg);
}
#mod-5 {
  margin-left: -50px;
  top: 5150px;
  @include rotate(26deg);
}
#mod-6 {
  margin-left: -200px;
  top: 6550px;
  @include rotate(-5deg);

}
#mod-7 {
  margin-left: -50px;
  top: 7325px;
  @include rotate(-30deg);
}

.menu-dev-container {
  position: absolute;
  width: 600px;
  height: 625px;
  box-sizing: border-box;
  padding: 50px;
  text-align: center;
  & h1 {

  }
}

#menu-dev-container0 {

  top: 1075px;
  left: 50%;
  //margin-left: 70px;
  @include rotate(14deg);
}

#menu-dev-container1 {
  position: absolute;
  width: 600px;
  top: 625px;
  left: 50%;
  margin-left: 70px;
  @include rotate(14deg);
}

#menu-dev-container2 {
  position: absolute;
  width: 400px;
  top: 700px;
  left: 50%;
  margin-left: -50px;
}

#menu-dev-container3 {
  position: absolute;
  width: 400px;
  top: 1000px;
  left: 50%;
  margin-left: 50px;
}

#menu-dev-container4 {
  position: absolute;
  width: 400px;
  top: 1300px;
  left: 50%;
  margin-left: -450px;
}

#menu-dev-container5 {
  position: absolute;
  width: 400px;
  top: 1600px;
  left: 50%;
  margin-left: 50px;
}
#menu-dev-container5 {
  position: absolute;
  width: 400px;
  top: 1900px;
  left: 50%;
  margin-left: -50px;
}


.menu-button {


  position: relative;
  cursor: pointer;
  margin-bottom: 12px;
  transition: all .2s;

  &:hover .menu-button-label{
    text-decoration: underline;
  }
  &:hover {
    @include scaleX(1.1);
  }
  & .menu-button-label {
    display: inline-block;
    font-family: $font-h1;
    font-size: 28px;
    //text-transform: uppercase;
    pointer-events: none;
    -webkit-font-smoothing: antialiased;
  }

  & .status-icon {
    float:left;
    margin-left: -28px;
    top: 0px;
    width: 20px;
    height: 20px;
    background: url(../assets/images/ui/menu-status-icons.png) no-repeat;
    pointer-events: none;
  }

  &.locked {
    & .menu-button-label {
      opacity: 0.6;
    }
    cursor: default;
    pointer-events: none;
    & .status-icon {
      background-position: 0px -48px;
    }
  }
  &.not-started.locked {
    opacity: 0.6;
    cursor: default;
    pointer-events: none;
    & .status-icon {
      background-position: 0px -60px;
    }
  }
  &.not-started {
    & .status-icon {
      background-position: 0px 0px;

    }
  }
  &.started {
    & .status-icon {
      background-position: 0px -20px;
    }
  }
  &.completed {
    & .status-icon {
      background-position: 0px -40px;
    }
  }
}

.menu-path {
  fill:none;
  stroke-width:3;
  stroke:#fff;
  stroke-miterlimit:10;
}


.course-title {
  @include horizontal-align;
  position: relative;
  margin: 10px 0 60px 0;
  text-align: center;
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;
  &::after {
    background: url(../assets/images/ui/popup/menu-card-hr.png);
    content: '';
    width: 325px;
    left: 50%;
    margin-left: -162px;
    position: absolute;;
    height: 17px;
    margin-top: 40px;
  }

  & .course-name-num {
    display: block;
    margin-bottom: 20px;
    font-size: 18px;
  }
}

.module-name {
  font-size: 24px;
  text-transform: uppercase;
}

.module-number {
  font-size: 30px;
}

.menu-snap {
  left: 50%;
  @include box-shadow(2px 2px 8px rgba(0,0,0,0.8));
  width: 235px;
  z-index: 3;
}

.snap-group-3{
  filter: grayscale(40%);
  /* Standard CSS */
  -webkit-filter: grayscale(40%);
  /* CSS for Webkit Browsers */
  filter: url(/elements/grayscale.svg#desaturate);
  /* Firefox 4-34 */
  -webkit-filter: grayscale(0.4);
}

.snap-group-4 {
  filter: grayscale(60%);
  /* Standard CSS */
  -webkit-filter: grayscale(60%);
  /* CSS for Webkit Browsers */
  filter: url(/elements/grayscale.svg#desaturate);
  /* Firefox 4-34 */
  -webkit-filter: grayscale(0.6);
}

#scroll-arrow {
  &.active {
    animation: bounce 1s infinite;
  }
}

@-webkit-keyframes bounce {
  from, to {transform: translateY(0px);}
  50% {transform: translateY(5px);}
}
@keyframes bounce {
  from, to {transform: translateY(0px);}
  50% {transform: translateY(5px);}
}




