#menu-view {
  position: absolute;
  width: 100vw;
  height: 100vh;
  max-width: 1500px;
  max-height: $max-height;
  overflow-y: scroll;
  overflow-x: hidden;
}
#menu-content {
  position: absolute;
  width: 100vw;
  max-width: $max-width;
  height: 7364px;
  //overflow: hidden;
}

.menu-element {
  position: absolute;
  //pointer-events: none;
}

.menu-scroll-container {
  @include horizontal-align();
  max-width: $max-width;
  width: 100vw;
  height: 7364px;
}

#menu-dev-bg {
  position: absolute;
  @include horizontal-align;
  top: 0px;

}

.menu-module {
  & .content {
    position: absolute;
    left: 50px;
    top: 85px;
    text-align: center;
  }
}

#mod-1 {
  background: url(../assets/images/menu/mod-bg-1.png);
  width: 478px;
  height: 174px;
  & .content {
    left: 50px;
    top: 50px;
  }
}
#mod-2 {
  background: url(../assets/images/menu/mod-bg-2.png);
  width: 469px;
  height: 497px;
  & .content {
    left: 30px;
    top: 85px;
  }
  &.performance {
    background: url(../assets/images/menu/mod-bg-2-performance.png);
    width: 474px;
    height: 170px;
    & .content {
      left: 30px;
      top: 70px;
    }
  }
}
#mod-3 {
  background: url(../assets/images/menu/mod-bg-3.png);
  width: 555px;
  height: 195px;
}
#mod-4 {
  background: url(../assets/images/menu/mod-bg-4.png);
  width: 603px;
  height: 257px;
  & .content {
    left: 100px;
    top: 50px;
  }
}
#mod-5 {
  background: url(../assets/images/menu/mod-bg-5.png);
  width: 589px;
  height: 263px;
  & .content {
    top: 100px;
    left: 40px;
  }
}
#mod-6 {
  background: url(../assets/images/menu/mod-bg-6.png);
  width: 475px;
  height: 425px;

}
#mod-7 {
  background: url(../assets/images/menu/mod-bg-7.png);
  width: 474px;
  height: 170px;
  & .content {
    top: 70px;
  }
}

.menu-dev-container {
  position: absolute;
  width: 600px;
  height: 625px;
  box-sizing: border-box;
  padding: 50px;
  text-align: center;
  & h1 {

  }
}

#menu-dev-container0 {

  top: 1075px;
  left: 50%;
  //margin-left: 70px;
  @include rotate(14deg);
}

#menu-dev-container1 {
  position: absolute;
  width: 600px;
  top: 625px;
  left: 50%;
  margin-left: 70px;
  @include rotate(14deg);
}

#menu-dev-container2 {
  position: absolute;
  width: 400px;
  top: 700px;
  left: 50%;
  margin-left: -50px;
}

#menu-dev-container3 {
  position: absolute;
  width: 400px;
  top: 1000px;
  left: 50%;
  margin-left: 50px;
}

#menu-dev-container4 {
  position: absolute;
  width: 400px;
  top: 1300px;
  left: 50%;
  margin-left: -450px;
}

#menu-dev-container5 {
  position: absolute;
  width: 400px;
  top: 1600px;
  left: 50%;
  margin-left: 50px;
}
#menu-dev-container5 {
  position: absolute;
  width: 400px;
  top: 1900px;
  left: 50%;
  margin-left: -50px;
}

.menu-button {

  padding-left: 30px;
  position: relative;
  cursor: pointer;
  margin-bottom: 12px;
  //color: #222;
  transition: margin .2s;

  &:hover .menu-button-label{
    text-decoration: underline;
  }
  &:hover {
    margin-left: 5px;
  }
  & .menu-button-label {
    font-size: 2.0em;
    pointer-events: none;
  }

  & .status-icon {

    position: absolute;
    left: 3px;
    top: 0px;
    width: 20px;
    height: 20px;
    background: url(../assets/images/ui/menu-status-icons.png) no-repeat;
    pointer-events: none;
  }

  &.locked {
    & .menu-button-label {
      opacity: 0.8;
    }
    cursor: default;
    pointer-events: none;
    & .status-icon {
      background-position: 0px -48px;
    }
  }
  &.not-started.locked {
    opacity: 0.8;
    cursor: default;
    pointer-events: none;
    & .status-icon {
      background-position: 0px -60px;
    }
  }
  &.not-started {
    & .status-icon {
      background-position: 0px 0px;
    }
  }
  &.started {
    & .status-icon {
      background-position: 0px -20px;
    }
  }
  &.completed {
    & .status-icon {
      background-position: 0px -40px;
    }
  }
}

.menu-path {
  fill:none;
  stroke-width:3;
  stroke:#fff;
  stroke-miterlimit:10;
}

.menu-banner {
  background: url(../assets/images/menu/banner-bg-blue.png);
  width: 571px;
  height: 264px;
  pointer-events: none;
  & .content {
    position: absolute;
    top: 120px;
    left: 120px;
  }
  & h2 {
    font-family: 'avenir-black';
    color:white;
    text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.9);
    text-transform: uppercase;
    margin: 0px;
  }
}

.course-title {
  font-size: 16px;
  text-transform: uppercase;
}

.module-name {
  font-size: 24px;
  text-transform: uppercase;
}

.module-number {
  font-size: 30px;
}

#scroll-arrow {
  &.active {
    animation: bounce 1s infinite;
  }
}

@-webkit-keyframes bounce {
  from, to {transform: translateY(0px);}
  50% {transform: translateY(5px);}
}
@keyframes bounce {
  from, to {transform: translateY(0px);}
  50% {transform: translateY(5px);}
}

#tv {
  width: 646px;
  height: 425px;
  & #tv-screen {
    background: url(../assets/images/menu/tv-screen.png) no-repeat;
    width: 646px;
    height: 425px;
    position: absolute;
    top: 0px;
    left: 0px;

  }
  &.active #tv-screen {
    animation: tvplay .6s steps(4) infinite;
  }
}

@keyframes tvplay {
  100% { background-position:0px -1700px; }
}


