<script type="text/template" id="quiz-cs-mainview-template">

    <div id="quizcs-view" style="background-color:<%= backgroundColor %>;">
        <div class="bg-texture-bottom"></div><div class="bg-texture-middle"></div><div class="bg-texture-top"></div>

        <h1 class="module-title"><%= name %></h1>

        <div class="quizcs-game-container">
            <div class="quizcs-player-container">
                <div class="quizcs-player-them"></div>
                <div class="quizcs-player-me"></div>
            </div>
            <div class="quizcs-finishline"></div>
        </div>

        <div class="quizcs-question-box">
            <div class="quizcs-q">q:</div>
            <h2 class="content"></h2>
        </div>

        <div class="quizcs-answer-box ">

            <div class="content"></div>
        </div>

        <div class="quizcs-answer-choice sketch-box-solid enabled proto">
            <div class="top"></div><div class="right"></div><div class="bottom"></div><div class="left"></div><div class="center"></div>
            <div class="content"></div>
        </div>

        <div class="scrim-background"></div>

        <div class="quizcs-feedback-box popup-container"></div>


        <div class="splash-container"></div>
        <div class="quizcs-player-selection-box">
            <div class="quizcs-player-selector you">
                <h1>You</h1>
            </div>
            <div class="quizcs-player-selector them">
                <h1>Them</h1>
            </div>
        </div>
        <div class="conclusion-container"></div>


    </div>


</script>