<script type="text/template" id="conclusion-template">

    <div class="popup-view splash-view" >
        <img class="splash-bg-image" src="assets/images/backgrounds/<%=bg_info.splash%>.jpg" />

        <h1 class="module-title"><%= name %></h1>





        <hr class="splash-hr" />
        <div class="splash-text-container <%= bg_info.splashClass %>">
            <h2 class="popup-title"></h2>
            <% if (badge != null) { %>
            <div class="conclusion-image-container">
                <img class="conclusion-badge" src="assets/images/badges/<%= badge.id %>.png"/>

            </div>
            <% } %>
            <div class="popup-body"></div>
        </div>
        <hr class="splash-hr" />
    </div>

</script>