<script type="text/template" id="quiz-fishing-mainview-template">

    <div id="quiz-057-view" style="background-color: <%=bg_info.backgroundColor%>;">
        <div class="<%=bg_info.backgroundClass%>"></div>

        <div><h1 class="module-title"><%= name %></h1></div>

        <div class="quiz-057-anim-container anim-container">
            <% _.each(questions, function(choice, index){ %>
                <div class="quiz-057-image quiz-anim-item" id="anim-item-<%= index %>"></div>
            <% }); %>

        </div>
        <div class="quiz-057-qa-container qa-container menu-card-popup">

            <h1 class="quiz-057-question-box question-box">
            </h1>

            <div class="quiz-057-answer-box answer-box">

                <div class="content"></div>
            </div>

            <div class="quiz-057-answer-choice answer-choice enabled proto"> </div>

        </div>

        <div class="scrim-background"></div>
        <div class="continue-button main-button enabled" data-id="continue">Continue</div>
        <div class="quiz-057-feedback-box feedback-box popup-container"></div>


        <div class="splash-container"></div>

        <div class="conclusion-container"></div>


    </div>


</script>