<script type="text/template" id="quiz-fishing-mainview-template">

    <div id="introqz-view" style="background-color:<%= colors.backgroundColor %>;">
        <div class="bg-texture"></div>

        <div class="module-title color-<%= modulename %>"><h1 style="color:<%= colors.highlightColor %>;"><%= name %></h1></div>

       <div class="introqz-game-bg"></div>
        <div class="introqz-game-container">
       </div>

        <div class="introqz-scenario-container">
            <div class="content">
                <h1></h1>
                <p></p>
            </div>
        </div>
        <div class="introqz-qa-container bg-<%= modulename %>">

            <div class="introqz-question-box">
                <div class="introqz-q">Q:</div>
                <h2 class="content"></h2>
            </div>

            <div class="introqz-answer-box ">

                <div class="content"></div>
            </div>

            <div class="introqz-answer introqz-answer-choice enabled proto"> </div>

        </div>

        <div class="scrim-background"></div>

        <div class="introqz-feedback-box popup-container"></div>


        <div class="splash-container"></div>

        <div class="conclusion-container"></div>


    </div>


</script>