<script type="text/template" id="mainview-template">

    <div id="video-view" style="background-color: <%=bg_info.backgroundColor%>;">
        <div class="<%=bg_info.backgroundClass%>"></div>

        <div><h1 class="module-title"><%= name %></h1></div>

        <div class="video-container">
            <video controls class="video"></video>
            <div class="top"></div><div class="right"></div><div class="bottom"></div><div class="left"></div>
        </div>


        <div class="scrim-background"></div>

        <div class="feedback-container"></div>

        <div class="main-button continue-button enabled" data-id="continue">Continue</div>

        <div class="splash-container"></div>
        <div class="conclusion-container"></div>


    </div>


</script>