<script type="text/template" id="pt-mainview-template">

    <div id="pt-container" >
        <div id="pt-main-view">
            <div class="pt-bg-texture"></div>
            <div><h1 class="module-title"><%= name %></h1></div>

        </div>
        <div id="pt-color-overlay" style="background-color:<%= bg_info.bg_color %>;"></div>
        <div id="pt-content-container"></div>
        <div class="pt-scroll"></div>
        <div class="pt-progress-container">
            <div class="pt-progress-bar">
                <div class="pt-progress">
                    <div id="pt-progress-prev-button"></div>
                    <% _.each(scenes, function (scene, i) { %>
                    <div id="progress<%= i %>" data-id="<%= i %>" class="pt-progress-button"></div>
                    <% }); %>
                    <div id="pt-progress-next-button"></div>
                </div>
            </div>
        </div>

        <div class="main-button continue-button" data-id="continue">Continue</div>

    </div>




</script>