<script type="text/template" id="cassette-mainview-template">

    <div id="cassette-view" style="background-color:<%= colors.backgroundColor %>;">
        <div class="bg-texture"></div>

        <div class="module-title color-<%= modulename %>"><h1 style="color:<%= colors.highlightColor %>;"><%= name %></h1></div>

        <div class="cassette-bg-elements"></div>

        <div class="cassette-container">
            <div class="cassette-door-bg"></div>
            <img class="cassette-mic" src="assets/images/cassette/mic-eject.png" />
            <div class="cassette-playing"></div>
            <div class="cassette-door open"></div>
            <div class="cassette-eject-button"></div>
            <div class="cassette-case-container">
                <% _.each(items, function (item, index) { %>
                <div class="cassette-case" id="<%= item.id %>" data-id="<%= item.id %>">
                    <div class="cassette-checkmark" data-id="<%= item.id %>"></div>
                    <p><%= item.header %></p>
                </div>
                <% }); %>
            </div>


        </div>

        <div class="info-container"></div>

        <div class="main-button continue-button enabled" data-id="continue">Continue</div>

        <div class="splash-container"></div>
        <div class="conclusion-container"></div>

    </div>

</script>