<script type="text/template" id="mainview-template">

    <div id="video-view" style="background-color:<%= colors.backgroundColor %>;">
        <div class="bg-texture">
        </div>

        <div class="module-title color-<%= modulename %>"><h1><%= name %></h1></div>

        <div class="video-embedded-container">
            <div id="youtube_player"></div>
        </div>

        <div id="youtubeAPI"></div>


        <div class="scrim-background"></div>

        <div class="feedback-container"></div>

        <div class="main-button continue-button enabled" data-id="continue">Continue</div>

        <div class="splash-container"></div>
        <div class="conclusion-container"></div>


    </div>


</script>