<script type="text/template" id="badgeview-template">


    <div id="badge-view">
        <div class="overlay-title"><div class="badge-ititle title-icon"></div>Badges</div>
        <div class="badge-box">
        <% _.each(badges, function (module, index) { %>
            <div class="badge-holder" id="<%= module.get('badge').id %>" >
                <div class="badge-ghost"><div class="badge-banner"></div></div>
                <img class="badge" src="assets/images/badges/<%= module.get('badge').id %>.png" />

                <div class="badge-banner"><h1><%= module.get('badge').name %></h1></div>
            </div>
        <% }); %>
        </div>
    </div>
    <div class="close-ibutton enabled" data-id="close"></div>

</script>