<script type="text/template" id="audio2-mainview-template">

    <div id="audio2-view" style="background-color:<%= colors.backgroundColor %>;">
        <div class="bg-texture"></div>

        <div class="module-title color-<%= modulename %>"><h1 style="color:<%= colors.highlightColor %>;"><%= name %></h1></div>

        <div class="audio2-bg-elements"></div>

        <div class="audio2-container">
            <div class="audio2-question-container"></div>
            <div class="audio2-ad-slots">

            </div>
            <div class="audio2-hr"></div>
            <div class="audio2-ads">
                <div class="audio2-adcontainer" id="adholder-everywhere"><div class="ad-holder"></div><div class="ad-counter"></div></div>
                <div class="audio2-adcontainer" id="adholder-platform"><div class="ad-holder"></div><div class="ad-counter"></div></div>
            </div>
        </div>

        <div class="main-button submit-button enabled" data-id="submit">Check Answers</div>

        <div class="scrim-background"></div>

        <div class="feedback-container"></div>


        <div class="splash-container"></div>
        <div class="conclusion-container"></div>

    </div>

</script>