.transparent-popup {
  width: 550px;
  position: relative;
  box-sizing: border-box;
  border-style: solid;

  border-image: url(../assets/images/ui/popup/fancy-border.png) 5 round;
  border-width: 5px;
  border-image-slice: 11;
  border-image-width: 5;
  border-image-outset: 11 11;

  padding-bottom: 70px;

  & .content {
    box-sizing: border-box;
    margin: -40px -10px;
    & h1, h2 {
      text-align: center;
      text-transform: uppercase;
    }
    & h2 {
      margin-top: 50px;
      font-size: 4.5em;
    }
    p {
      font-size: 2em;
    }
  }

  & {
    .popup-button {
      position: absolute;
      right: 0px;
    }
  }
}

.main-popup {
  width: 550px;
  position: relative;
  box-sizing: border-box;
  border-style: solid;

  border-image: url(../assets/images/ui/popup/menu-border.png) 5 round;
  border-width: 50px;
  border-image-slice: 80;
  background-color: #fffaee;
  padding-bottom: 70px;
  padding-top: 20px;
  @include box-shadow(black 5px 5px 10px);

  & .content {
    box-sizing: border-box;
    margin: -40px -10px;
    & h1, h2 {
      text-align: center;
      text-transform: uppercase;
      color: #433a35;
      font-size: 24px;
    }
    & .step-subhead {
      font-size: 22px;
      display: block;
      text-transform: capitalize;
      margin-top: 20px;
    }
    & h2 {
      margin-top: 50px;
      font-size: 4.5em;
    }
    & p, a, b, ul, ol, li {
      font-size: 16px;
      color: #433a35;
    }
  }

  & {
    .popup-button {
      position: absolute;
      right: 0px;
    }
  }
}

.menu-popup {
  width: 550px;
  position: relative;
  box-sizing: border-box;
  border-style: solid;

  border-image: url(../assets/images/ui/popup/menu-border.png) 5 round;
  border-width: 50px;
  border-image-slice: 80;
  background-color: #fffaee;
  padding-bottom: 70px;
  padding-top: 20px;
  @include box-shadow(black 5px 5px 10px);

  & .content {
    box-sizing: border-box;
    margin: -40px -10px;
    & h1, h2 {
      text-align: center;
      text-transform: uppercase;
      color: #433a35;
      font-size: 24px;
    }
    & h2 {
      margin-top: 50px;
      font-size: 4.5em;
    }
    p, a, b, ul, ol, li {
      font-size: 16px;
      color: #433a35;
    }
  }

  & {
    .popup-button {
      position: absolute;
      right: 0px;
    }
  }
}










