.fancy-popup {
  width: 550px;
  position: relative;
  box-sizing: border-box;
  border-style: solid;

  border-image: url(../assets/images/ui/popup/fancy-border.png) 5 round;
  border-width: 5px;
  border-image-slice: 11;
  border-image-width: 5;
  border-image-outset: 11 11;

  padding-bottom: 70px;

  & .content {
    box-sizing: border-box;
    margin: -40px -10px;
    & h1, h2 {
      text-align: center;
      text-transform: uppercase;
    }
    & h2 {
      margin-top: 50px;
      font-size: 4.5em;
    }
    p {
      font-size: 2em;
    }
  }

  & {
    .popup-button {
      position: absolute;
      right: 0px;
    }
  }
}








