.splash-container {
  position: absolute;
  top: 0px;
}

.splash-view {
  @extend %view;
  position: absolute;
  top: 0px;
  & .popup-button {
    position: absolute;
    bottom: 25px;
    right: 25px;
  }
}

.splash-bg-image {
    @include horizontal-align();
    top: 0px;
}

.splash-image-container {
  @include horizontal-align();
  position: relative;

  width: 500px;
  height: 400px;

  & .splash-image {
    @include center-align;
    width: 400px;
    height: 400px;
  }
}

.conclusion-image-container {
  position: relative;
  margin-right: 20px;
  float: left;
  display:none;

  & .conclusion-badge {
    position: relative;
  }

  & .conclusion-badge-title{
    font-size: 26px;
    margin-top: -30px;
    text-align: center;
    width: 275px;
  }


  &.show-badge {
    animation: show-badge 1s forwards;
    display: block;
  }
}

@-webkit-keyframes show-badge {
  0% {
    opacity: 0.01;
  }

  100% {
    opacity: 1.0;
  }
}
@keyframes show-badge {
  0% {
    opacity: 0.01;
  }

  100% {
    opacity: 1.0;
  }
}


.splash-text-container {
  @include horizontal-align();
  top: 30%;
  background: rgba(0,0,0,0.6);
  @include border-radius(20px);
  padding: 20px 30px;
  box-sizing: border-box;
  width: 650px;

  &.splash-center-align {
    top: 45%;
  }
  &.splash-low-center-align {
    top: 55%;
  }

  &.splash-left-align {
    margin-left: -16%;
  }

  &.splash-right-align {
    margin-left: 16%;
  }

  & .popup-title {
    position: relative;
    font-family: $font-h1;
    font-weight: 400;
    font-size: 28px;
    text-align: center;
    text-transform: uppercase;
    margin: 20px 0px 10px 0px;
  }

  & h2 {
    position: relative;
    font-family: $font-h1;
    font-weight: 400;
    font-size: 24px;
    margin: 10px 0px 10px 0px;
    -webkit-font-smoothing: antialiased;
  }
  & .popup-body {
    p, ul, li, b, a {
      color: inherit;
      line-height: 130%;
      font-size: 17px;
      font-weight: 400;
      -webkit-font-smoothing: antialiased;
    }
    p {
      position: relative;
      font-family: $font-body;

      margin-bottom: 10px;
      color: inherit;
    }
    a {
      font-weight: bold;

    }
    b {
      font-weight: bold;
    }
    position: relative;
  }

  & .instrux .popup-body{
    font-weight: bold;
  }
}



