.splash-container {
  position: absolute;
  top: 0px;
}

.splash-view {
  @extend %view;
  position: absolute;
  top: 0px;
  & .popup-button {
    position: absolute;
    bottom: 25px;
    right: 25px;
  }
}

.splash-bg-elements {
  @extend %view;

  position: absolute;
  top: 0px;

}

.splash-image-container {
  @include horizontal-align();
  position: relative;

  width: 500px;
  height: 400px;

  & .splash-image {
    @include center-align;
    width: 400px;
    height: 400px;
  }
}

.conclusion-image-container {
  @include horizontal-align();
  position: relative;

  width: 500px;
  height: 440px;

  & .conclusion-badge {
    width: 254px;
    height: 300px;
    display: block;
    @include horizontal-align;
    bottom: 90px;
    opacity: 0;
    transition: .5s opacity;
  }
  & .conclusion-badge-title {
    @include horizontal-align;
    bottom: 0px;
    width: 1200px;
    font-family: $font-h1;
    font-weight: 700;
    font-size: 6.0em;
    margin: 20px 0px 10px 0px;
    text-align: center;
    opacity: 0;
    transition: .5s opacity;
  }

  &.show-badge {
    & .conclusion-title {
      opacity: 0;
    }
    & .conclusion-badge {
      opacity: 1;
    }
    & .conclusion-badge-title {
      opacity: 1;
    }
  }
}

.splash-text-container {
  @include horizontal-align();

  width: 650px;

  & .popup-title {
    position: relative;
    font-family: $font-h1;
    font-weight: 400;
    font-size: 28px;
    text-align: center;
    text-transform: uppercase;
    margin: 20px 0px 10px 0px;
  }
  & .popup-body {
    p, ul, li, b, a {
      color: inherit;
      line-height: 130%;
      font-size: 17px;
      font-weight: 400;
    }
    p {
      position: relative;
      font-family: $font-body;

      margin-bottom: 10px;
      color: inherit;
    }
    a {
      font-weight: bold;

    }
    b {
      font-weight: bold;
    }
    position: relative;
  }

  & .instrux .popup-body{
    font-weight: bold;
  }
}



