.scrim-background {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  max-width: $max-width;
  background: rgba(0,0,0,0.5);


}


.bg-texture {
  @include horizontal-align();
  position: absolute;
  width: 100vw;
  max-width: $max-width;
  top: 0px;
  bottom: 0px;
  mix-blend-mode: multiply;

}

.overlay-texture {

  background: url(../assets/images/backgrounds/page-turner2.jpg);
  background-size:100% 100%;
  @include horizontal-align();
  width: 100vw;
  max-width: $max-width;
  top: 0px;
  bottom: 0px;
  mix-blend-mode: multiply;
}

.pt-bg-texture{
  background: url(../assets/images/backgrounds/page-turner2.jpg);
  background-size:100% 100%;
  @include horizontal-align();
  width: 100vw;
  max-width: $max-width;
  top: 0px;
  bottom: 0px;
}

.booth-bg {
  background: url(../assets/images/backgrounds/booth.jpg);
  @include horizontal-align();
  position: absolute;
  width: $max-width;
  height: $max-height;
  top: 0px;
  mix-blend-mode: multiply;
}
.lab-bg {
  background: url(../assets/images/backgrounds/lab.jpg);
  @include horizontal-align();
  position: absolute;
  width: $max-width;
  height: $max-height;
  top: 0px;
  mix-blend-mode: multiply;
}
.matching049-bg {
  background: url(../assets/images/103/match-049/match-bg.jpg);
  @include horizontal-align();
  position: absolute;
  width: $max-width;
  height: $max-height;
  top: 0px;
  //mix-blend-mode: multiply;
}
.matching050-bg {
  background: url(../assets/images/104/match-050/match-bg.jpg);
  @include horizontal-align();
  position: absolute;
  width: $max-width;
  height: $max-height;
  top: 0px;
  //mix-blend-mode: multiply;
}
.quiz057-bg {
  background: url(../assets/images/105/quiz-057/quiz-bg.jpg);
  @include horizontal-align();
  position: absolute;
  width: $max-width;
  height: $max-height;
  top: 0px;
  //mix-blend-mode: multiply;
}

.module-title {
  @include horizontal-align();

  width: 800px;
  height: 40px;
  top: 2%;
  @extend %unselectable;
  & h1 {
    text-align: center;
    font-size: 2.8em;
    margin: 3px 0px;
    text-shadow: 1px 1px 0px rgba(0,0,0,0.3);
    text-transform: uppercase;
  }
  /*&::before {
    position: absolute;
    background: url(../assets/images/ui/title-splatter-bg.png) no-repeat center center;
    background-size: contain;
    width: 402px;
    height: 253px;
    top: -110px;
    //left: -15px;
    z-index: -1;
    content: '';
  }*/


}


.unselectable {
  @extend %unselectable;
}