#cassette-view {
  @extend %view;
  .info-container .popup-view {
    @include vertical-align();
    margin-top: 20px;

    & h1 {
      margin-bottom: 20px;
      letter-spacing: 2px;
    }
    & h2 {
      margin-bottom: 20px;
      font-family: $font-work;
      font-weight: 700;
    }

    & ul, ol {
      margin-left: 15px;
    }

    & li {
      margin-bottom: 5px;
      line-height: 130%;
    }

    & a {
      color: white;
    }
  }
}



.cassette-bg-elements {
  @extend %view;
  position: absolute;
  background: url(../assets/images/cassette/bg-element1.png) no-repeat bottom left, url(../assets/images/cassette/bg-element2.png) no-repeat top right;
}

.cassette-container {
  position: absolute;
  right: 52%;
  width: 600px;
  height: 100vh;
  max-height: $max-height;
  top: 0px;

  & .cassette-door-bg, .cassette-door {
    @include horizontal-align;
    top: 150px;
    width: 422px;
    height: 250px;
  }

  & .cassette-door-bg {
    background: url(../assets/images/cassette/door-bg.png) no-repeat;
  }

  & .cassette-door {
    background: url(../assets/images/cassette/door.png) no-repeat;

    &.open {
      background-position: 0px -250px;
    }

  }

  & .cassette-eject-button {
    width: 66px;
    height: 70px;
    position: absolute;
    right: 10px;
    top: 330px;
    background: url(../assets/images/cassette/eject-button.png) no-repeat;
    cursor: pointer;
    &:hover {
      background-position: 0px -70px;
    }
  }

  & .cassette-playing {
    position: absolute;
    left: 50%;
    margin-left: -143px;
    width: 289px;
    height: 189px;
    top: 185px;
    background: url(../assets/images/cassette/cassettes.png) no-repeat;
    background-position: 289px 0px;
  }

  & .cassette-drag-helper {
    //position: absolute;
    width: 289px;
    height: 189px;
    background: url(../assets/images/cassette/cassettes.png) no-repeat center center;
    @include rotate(30deg);
  }

  & .cassette-checkmark-container {
    @include horizontal-align;
    bottom: 50px;
    height: 25px;
    width: 255px;
    box-sizing: border-box;
    padding: 0px 15px;
    & .cassette-checkmark {
      width: 45px;
      height: 25px;
      background: url(../assets/images/cassette/checkmark.png) no-repeat center center;
      position: relative;
      float: left;
      opacity: 0.0;
    }
  }

  & .cassette-case-container {
    @include horizontal-align;
    bottom: 80px;
    height: 275px;
    width: 255px;
    border-bottom: 10px solid yellow;
    box-sizing: border-box;
    padding: 0px 15px;
    & .cassette-case {
      position: relative;
      float: left;
      cursor: pointer;
      -webkit-filter: drop-shadow(1px 3px 10px rgba(0,0,0,0.5));
      filter: drop-shadow(1px 3px 10px rgba(0,0,0,0.5));
      margin-bottom: 10px;
      &:nth-of-type(odd) {
        margin-top: -3px;
      }
      &:hover {
        top: -15px;
      }
      & p {
        @include rotate(-90deg);
        @extend %unselectable;
        position: absolute;
        top: 113px;
        left: -107px;
        width: 255px;
        text-align: center;
      }


      width: 45px;
      height: 255px;
      background: url(../assets/images/cassette/cassette-spines.png) no-repeat;
    }


  }
}

.cassette-playing, .cassette-drag-helper {
  &.case1 {
    background-position: 0px 0px;

  }
  &.case2 {
    background-position: -289px 0px;

  }
  &.case3 {
    background-position: -578px 0px;

  }
  &.case4 {
    background-position: -867px 0px;
  }
  &.case5 {
    background-position: -1156px 0px;
  }
}

.cassette-case {

  &#case1 {
    & p {
      font-family: $font-work;
      color: purple;
      font-weight: 700;
      text-transform: uppercase;
    }
  }

  &#case2 {
    background-position: -45px 0px;
    //left: 40px;
    & p {
      font-family: 'bebas_neuebold';
      letter-spacing: 2px;
      color: white;
      text-shadow: 0px 0px 2px #401018;
      
    }
  }
  &#case3 {
    background-position: -90px 0px;
    //left: 80px;
    & p {
      font-family: $font-diet;
      font-size: 16px;
      color: yellow;
      text-shadow: 1px 1px 1px black;
    }
  }
  &#case4 {
    background-position: -135px 0px;
    //left: 120px;
    & p {
      font-family: $font-work;
      font-size: 14px;
      color: black;
      font-weight: 700;
      text-transform: uppercase;
      letter-spacing: -1px;
    }
  }
  &#case5 {
    background-position: -180px 0px;
    //left: 160px;
    & p {
      font-family: $font-graffiti;
      font-size: 20px;
      text-shadow: 0px 0px 2px darkblue;
    }
  }
}

