
#hs-049-view {
  @extend %view;

  & .bg-img {
    background: url(../assets/images/103/hotspots-049/hotspots-049-bg.jpg);
    @include horizontal-align();
    position: absolute;
    width: $max-width;
    height: $max-height;
    top: 0px;
  }


  & .feedback-container {
    @include horizontal-align;
    top: 100px;
  }

  .items-container {
    width: 270px;
    height: 534px;
    position: relative;
    margin-left: -100px;
    padding-top: 270px;
    box-sizing: border-box;
    left: 50%;
    top: 150px;
    @include rotate(-25deg);
    @include box-shadow(3px 3px 5px rgba(0,0,0,0.8));
    background: url(../assets/images/103/hotspots-049/hotspots-049-menu.png) no-repeat;


    & .item-container {
      margin-bottom: 20px;
      @include border-radius(20px);
      width: 210px;
      @include horizontal-align;
      box-sizing: border-box;
      padding: 10px 0px;
      position: relative;

      & h1, & h2 {
        color: #433a35;
        text-align: center;
        text-transform: uppercase;

      }
      & h1 {
        font-size: 20px;
      }
      & h2 {
        font-family: $font-h1;
        font-size: 18px;
      }

      & .item-done-check {
        background: url(../assets/images/103/hotspots-049/hotspots-049-done-check.png);
        width: 16px;
        height: 20px;
        position: absolute;
        top: 17px;
        left: 10px;
        display: none;
      }


      &:hover, &.selected {
        background-color: rgba(0,0,0,0.2);
      }

      &.selected, &.selected.completed {
        & p {
        }
      }
      &.completed {
        & p {
        }
        & .item-done-check {
          display: block;
        }
      }
      cursor: pointer;
      & p {
      }
    }

  }

  & .details-container {
    @include center-align();
    width: 1200px;
    height: 590px;

    & .screenshot-bg {
      display: block;
      position: absolute;
      top: 0px;
      left: 0px;
      pointer-events: none;
    }

    & .detail-set {
      @include center-align();
      width: 1200px;
      height: 590px;

      z-index: 0;

      box-sizing: border-box;
      &::before {
        content: '';
        z-index: -1;
        top: -11px;
        bottom: -10px;
        right: -11px;
        left: -11px;
        pointer-events: none;
        position: absolute;
        box-sizing: border-box;
        border-style: solid;
        border-image: url(../assets/images/ui/popup/fancy-border-gold.png) 5 round;
        border-width: 5px;
        border-image-slice: 11;
        border-image-width: 5;
        border-image-outset: 11 11;

        border-image-outset: 0px;
        pointer-events: none;
      }

      & .detail-info-button {
        position: absolute;
        background: url(../assets/images/103/hotspots-049/detail-info-button.png);
        width: 40px;
        height: 40px;
        cursor: pointer;
        &:hover {
          background-position: 0px -40px;
        }

        &.completed, &.selected {
          background-position: 0px -80px;
        }
      }
    }

    & .detail-highlight {
      position: absolute;
      background: rgba(255,255,0, 0.5);;
      opacity: 0.8;
      border: 3px solid gold;
      box-sizing: border-box;
      display: none;
    }

    & .tooltip {
      position: absolute;
      background: rgba(0,0,0,0.7);
      width: auto;
      @include border-radius(6px);
      & .label {
        font-size: 1.6em;
        font-weight: bold;
        padding: 4px 12px;
      }
      & .tooltip-body {
        font-size: 1.6em;
        padding: 0px 12px 4px 12px;
        width: 250px;
        //display: none;
      }

      & .close-x-light-button {

        display: none;
      }

      &.visible {
        & .close-x-light-button {
          display: block;
        }
      }
      //transition: max-width 0.7s, height 0.7s;

    }

    & .back-button {
      min-width: 80px;
    }
  }
}




