#quizcs-view {
  @extend %view;
}

.quizcs-player-selection-box {
  @include horizontal-align();
  position: relative;
  width: 400px;
  height: 200px;
  & .quizcs-player-selector {
    position: absolute;
    width: 136px;
    height: 150px;
    float: left;
    text-align: center;
    & h1 {
      margin-top: 155px;
      font-family: $font-h1;
      color: white;
    }
  }
  & .you {
    background: url(../assets/images/quiz_cs/player-selector-you.png) no-repeat;
    left: 0px;
  }
  & .them {
    background: url(../assets/images/quiz_cs/player-selector-them.png) no-repeat;
    right: 0px;
  }
}

.quizcs-game-container {
  position: absolute;
  top: -10px;
  left: 50%;
  margin-left: -700px;
  width: $max-width;
  height: 625px;
  background: url(../assets/images/quiz_cs/guitar.png) no-repeat;
  @include rotate(-8deg);

  & .quizcs-finishline {
    background: url(../assets/images/quiz_cs/finish-line.png) no-repeat;
    position: absolute;
    left: 1099px;
    top: 143px;
    width: 115px;
    height: 155px;
  }
}

.quizcs-player-container {
  position: absolute;
  width: 750px;
  height: 100px;
  left: 410px;
  top: 160px;

  & .quizcs-player-me {
    position: absolute;
    left: 0px;
    top: 50px;
    width: 65px;
    height: 65px;
    background: url(../assets/images/quiz_cs/player-me.png) no-repeat;
  }

  & .quizcs-player-them {
    position: absolute;
    left: 15px;
    top: 25px;
    width: 65px;
    height: 65px;
    background: url(../assets/images/quiz_cs/player-them.png) no-repeat;
  }
}

.quizcs-question-box {
  position: absolute;
  top: 330px;
  left: 50%;
  & .quizcs-q {
    margin-left: -15px;
    color: white;
    font-family: $font-h1;
    font-size: 3.8em;
  }
  & .content {
    width: 550px;
    position: absolute;
    top: 2px;
    margin-left: 15px;
    color: white;
    font-family: $font-body;
    //font-weight: bold;
    font-size: 1.8em;
    font-weight: 400;
  }
}

.quizcs-answer-box {
  position: absolute;
  left: 50%;
  & .content {
    width: 600px;
  }

  & .quizcs-answer-choice {
    box-sizing: border-box;
    position: relative;
    float: left;
    width: 275px;
    margin: 0 15px 15px 0;

    cursor: pointer;

    & .content {
      padding: 20px;
      width: 275px;
      box-sizing: border-box;
    }

    &.selected, &:hover.enabled {
      & li {
        color: #069;
        text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
        list-style-image: url(../assets/images/quiz_workflows/pick-bullet-blue.png);
      }

    }

    &.disabled {
      opacity: 0.4 !important;

      cursor: default;
    }


    & .ans-content {
      padding: 15px;
    }

    & p, li {
      color: #333;
      font-family: $font-body;
      font-weight: 400;
      font-size: 1.8em;
      line-height: 110%;

    }

    & li {
      list-style-type: none;
      list-style-image: url(../assets/images/quiz_workflows/pick-bullet.png);
      margin: 0 0 0 1em;
      text-indent: -1em;
    }

  }
}

.quizcs-answer-choice.proto {
  display: none;
}

