#coregame-view {
  @extend %view;

  & .blob1-popup {
    bottom: -200px;
  }

  & .scrim-background {
    background: rgba(0,0,0,0.0);
  }
}

.coregame-bg {
  @include center-align;
  width: 1500px;
  height: 900px;
  background: url(../assets/images/core/coregame-bg.png) no-repeat;
  mix-blend-mode: overlay;
}

.coregame-container {
  @include center-align;
  width: 1500px;
  height: 900px;
}

.coregame-mic {
  position: absolute;
  top: 50%;
  margin-top: -180px;
  left: 50%;
  margin-left: -650px;
  width: 251px;
  height: 644px;
  background: url(../assets/images/core/coregame-mic.png) no-repeat;
}

.coregame-nOFn {
  position: absolute;
  left: 50%;
  margin-left: -400px;
  bottom: 20px;
  width: 397px;
  color: #ffa;
  font-family: $font-body;
  font-weight: 700;
  font-size: 1.8em;
  text-align: center;
}
.coregame-speechbox {
  position: absolute;
  left: 50%;
  margin-left: -400px;
  top: 50%;
  width: 397px;
  height: 301px;
  background: url(../assets/images/core/coregame-speech.png) no-repeat;

  & h2 {
    @include center-align;
    margin-top: 30px;
    text-align: center;
    width: 350px;
    font-weight:700;
    color: #56e7f5;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  }
  &.active {
    background-position: 0px -301px;
  }
  & .dropped {
    background-position: 0px -602px;
  }
}

.coregame-gauge {
  position: absolute;
  bottom:  -450px;
  left: 50%;
  margin-left: 150px;
  width: 352px;
  height: 407px;
  background: url(../assets/images/core/coregame-gauge.png) no-repeat;
  & .coregame-needle {
    //transform-origin: 175 x 173
    position: absolute;
    top:  0px;
    left: 0px;
    width: 352px;
    height: 407px;
    background: url(../assets/images/core/coregame-needle.png) no-repeat;
  }

  & h2 {
    position: absolute;
    text-transform: uppercase;
    width: 352px;
    top: -30px;
    text-align: center;
    font-weight:700;
    font-size: 2em;
    color: #fff;
    text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.6);
  }
}




.coregame-question-box{
  position: absolute;
  left: 50%;
  margin-left: -250px;
  width: 500px;
  top: 50%;
  margin-top: -295px;

  & .coregame-q {
    margin-left: -35px;
    margin-top: 5px;
    color: #ffa;
    font-family: $font-h1;
    font-size: 2.8em;
  }
  & .content {
    position: absolute;
    top: 2px;
    margin-left: 15px;
    color: #ffa;
    font-family: $font-work;
    //font-weight: bold;
    font-size: 1.6em;
    line-height:120%;
    font-weight: 400;
  }
}

.coregame-answer-box {
  position: absolute;
  left: 50%;
  margin-left: 100px;
  top: 50%;
  width: 300px;

  & h2 {
    width: 500px;
    @include center-align;
    color: #ffa;
    font-family: $font-body;
    font-weight: 700;
    font-size: 2.0em;
    text-align: center;
    margin-bottom: 15px;
  }

  & .content {
    position: absolute;
    top: 40px;
  }

  & .coregame-answer-choice {
    box-sizing: border-box;
    border: 1px solid rgba(255,255,255,0.5);
    width: 300px;
    margin: 0 0px 10px 0;
    background: rgba(255,255,255,0.2);
    @include border-radius(10px);

    color: #ffa;
    font-family: $font-body;
    font-weight: 400;
    font-size: 1.8em;
    line-height: 110%;
    text-align: center;

    cursor: move;

    padding: 15px;

    &.selected, &:hover.enabled, &.dragging {
      color: #56e7f5;
      text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);

      font-weight: 700;
      border: 1px solid rgba(255,255,255,0.5);
    }
    &.dragging {
      @include box-shadow(3px 3px 10px rgba(0,0,0,0.5));
      background: rgba(255,255,255,1.0);
      border: 1px solid #333;
    }

    &.disabled {
      opacity: 0.4 !important;

      cursor: default;
    }

  }

}