#introqz-view {
  @extend %view;

  & .blob4-popup {
    left: 100px;
    @include vertical-align;
    margin-top: -100px;
  }
}

.introqz-game-bg {
  @include horizontal-align;
  background: url(../assets/images/quiz_intro/game-bg.png) no-repeat;
  top: -30px;
  width: 1600px;
  height: 800px;
  mix-blend-mode: overlay;
}

.introqz-game-container {
  @include horizontal-align;
  position: absolute;
  width: 1800px;
  height: 100vh;

}

.introqz-scenario-container {
  position: absolute;
  right: 50%;
  top: 100px;
  width: 725px;
  height: 500px;
  background: url(../assets/images/quiz_intro/scenario-bg.png) no-repeat;
  background-size: cover;
  & .content {
    margin: 160px auto 0px auto;
    position: relative;
    left: 50px;
    width: 400px;
    width: 400px;
    & h1 {
    }
    & .body {
    }
  }

}

.introqz-qa-container {
  position: absolute;
  left: 55%;
  width: 450px;
  top: 190px;

  & .introqz-question-box{
    position: absolute;
    width: 450px;

    & .introqz-q {
      margin-left: -35px;
      margin-top: 5px;
      color: #ffa;
      font-family: $font-h1;
      font-size: 2.8em;
    }
    & .content {
      position: absolute;
      top: 2px;
      margin-left: 15px;
      color: #ffa;
      font-family: $font-work;
      //font-weight: bold;
      font-size: 1.8em;
      font-weight: 400;
    }
  }

}

.introqz-answer-box {
  position: absolute;
  left: 15px;
  & .content {
    width: 450px;
    position: absolute;
  }
  & .introqz-answer-letter {
    color: #ffa;
    font-family: $font-h1;
    font-size: 2.2em;
    margin-top: 1px;
    position: absolute;
  }

  & .introqz-answer-choice {
    box-sizing: border-box;

    width: 450px;
    margin: 15px 0;
    padding: 10px 20px;
    @include border-radius(10px);
    border: 2px solid rgba(255,255,255,0.6);
    background: rgba(255,255,255,0.3);

    cursor: pointer;

    & .content {
      padding: 20px;
    }

    &.selected, &:hover.enabled {
      & p {
        color: #56e7f5;
        text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);

        //font-weight: 700
      }
      & .introqz-answer-letter {
        color: #56e7f5;
        text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);

      }
      background: rgba(255,255,255,0.1);
      border: 2px solid rgba(255,255,255,0.3);
    }

    &.disabled {
      opacity: 0.4 !important;
      border: 2px solid rgba(255,255,255,0.1);
      cursor: default;
    }

  }

  & .ans-content {
    padding: 15px;
  }

  & p {
    color: #ffa;
    font-family: $font-body;
    font-weight: 400;
    font-size: 1.8em;
    line-height: 110%;
    margin-left: 35px;
  }
}