#ratecard-view {
  @extend %view;
}

.spreadsheet-container {
  position: absolute;
  left: 20px;
  right: 20px;
  bottom: 20px;
  top: 180px;
  border: 1px solid gray;
  background: white;
}


.spreadsheet-zoom-container {
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;
  top: 0px;
  overflow-y: hidden;
  overflow-x: auto;

  & .spreadsheet-fixed {
    position: absolute;
    width: 3000px;
    //height: 100%;

  }
  & .spreadsheet-scrolling {
    position: absolute;
    width: 3000px;
    //height: 100%;
    overflow-y: scroll;
  }

  & .spreadsheet-scrolling-bg {
    position: absolute;
  }

  & .spreadsheet-fixed {
    pointer-events: none;
  }

  & .spreadsheet-fixed-bg, .spreadsheet-scrolling-bg {

    width: 100%;
    height: auto;
    display: block;
    pointer-events: inherit;
  }

  & .spreadsheet-highlights {
    position: absolute;
    top: 0px;
    pointer-events: none;
    & .spreadsheet-highlight {
      position: absolute;
      pointer-events: none;
      background-color: rgba(255, 255, 0, 0.4);
      border: 2px solid #000;
      box-sizing: border-box;
      mix-blend-mode: multiply;
    }
  }

}

.zoom-button{
  width: 20px;
  height: 20px;
  background: rgba(0,0,0,0.5);
  @include border-radius(4px);
  position: absolute;
  top: -25px;
  cursor: pointer;
  &:hover {
    @include scale(1.1, 1.1);
  }

  &:active {
    @include scale(1.0, 1.0);
  }
  &::after {
    position: absolute;
    width: 20px;
    height: 20px;
    color: white;
    text-align: center;

    font-family: $font-work;
    font-size: 1.8em;
    font-weight: 700;

  }

  &.out {
    left: 0px;
    &::after {
      content: '-';
    }
  }
  &.in {
    left: 230px;
    &::after {
      content: '+';
    }
  }

}

.zoom-percent {
  color: white;
  position: absolute;
  font-family: $font-body;
  font-size: 1.8em;
  top: -22px;
  left: 260px;
}

.spreadsheet-zoom-control {
  position: absolute;
  top: -25px;
  left: 25px;
  width: 180px;
  height: 20px;
  &:before {
    position: absolute;
    top: 0px;
    content: '';
    width: 200px;
    height: 20px;
    background: rgba(0,0,0,0.5);
    @include border-radius(10px);
  }

}



.ui-slider-handle {
  position: absolute;
  outline: none;
}
.ratecard-zoom-handle {
  cursor: pointer;
  position: absolute;
  width: 20px;
  height: 20px;
  background: url(../assets/images/ratecard/ratecard-zoom-handle.png) no-repeat;
  &:hover{
    background-position: 0px -20px;
  }
}


.ratecard-qa-container {
  position: absolute;
  left: 350px;
  width: 919px;
  height: 357px;
  top: -50px;
  pointer-events: none;

  &::before {
    position: absolute;
    width: 919px;
    height: 357px;
    content: '';
    //z-index: -1;
    background: url(../assets/images/ui/popup/splatter-bg.png) no-repeat;
    pointer-events: none;

  }
  &.bg-objectivesmatrix::before {

    -webkit-filter: brightness(102%) hue-rotate(325deg);
    filter: brightness(102%) hue-rotate(325deg);
  }
  &.bg-amplifiedmatrix::before {

    -webkit-filter: saturate(126%) brightness(63%) hue-rotate(220deg);
    filter: saturate(126%) brightness(63%) hue-rotate(220deg);
  }
   &.bg-addedvaluepolicy::before {
    -webkit-filter: saturate(126%) brightness(64%) hue-rotate(223deg);
    filter: saturate(126%) brightness(64%) hue-rotate(223deg);
  }

  &.bg-audiencesegments::before {
    -webkit-filter: saturate(126%) brightness(64%) hue-rotate(223deg);
    filter: saturate(126%) brightness(64%) hue-rotate(223deg);
  }

  &.bg-cpm::before {
    -webkit-filter: saturate(126%) brightness(64%) hue-rotate(223deg);
    filter: saturate(126%) brightness(64%) hue-rotate(223deg);
  }



  &.bg-maxcreative::before {
    -webkit-filter: saturate(126%) brightness(64%) hue-rotate(223deg);
    filter: saturate(126%) brightness(64%) hue-rotate(223deg);
  }

  &.bg-sponsorships::before {
    -webkit-filter: saturate(126%) brightness(64%) hue-rotate(223deg);
    filter: saturate(126%) brightness(64%) hue-rotate(223deg);
  }

  &.bg-targetingmatrix::before {
    -webkit-filter: saturate(97%) brightness(114%) hue-rotate(200deg);
    -webkit-filter: saturate(97%) brightness(114%) hue-rotate(200deg);
  }

  &.bg-yieldmax::before {

    -webkit-filter: saturate(146%) brightness(160%) hue-rotate(200deg);
    filter: saturate(146%) brightness(160%) hue-rotate(200deg);
  }

  & .ratecard-question-box{
    position: absolute;
    width: 700px;
    left: 125px;
    top: 60px;
    & .ratecard-q {
      margin-left: -40px;
      margin-top: -2px;
      color: white;
      font-family: $font-h1;
      font-size: 3.8em;
    }
    & .content {
      position: absolute;
      top: 2px;
      margin-left: 15px;
      color: white;
      font-family: $font-work;
      font-size: 1.7em;
      line-height: 120%;
      font-weight: 400;
    }
  }

}

.proto-fill-in, .proto-choice, .proto-submit {
  display: none !important;
}

.ratecard-submit-button {
  background: url(../assets/images/ui/buttons/arrow-button.png) no-repeat;
  width: 48px;
  height: 48px;
  &:hover {
    background-position: 0 -48px;
  }
  box-sizing: border-box;
  position: relative;
  float: left;
  margin: 21px 1px 1px 15px;
  cursor: pointer;
}

.ratecard-answer-box {
  position: absolute;
  left: 140px;
  & .content {
    width: 730px;
    position: absolute;
  }
  & .ratecard-answer-letter {
    color: white;
    font-family: $font-h1;
    font-size: 2.2em;
    margin-top: 1px;
    position: absolute;
  }

  & .ratecard-answer-choice {
    box-sizing: border-box;
    position: relative;
    float: left;
    width: 340px;
    margin: 0 15px 8px 0;
    padding: 5px 0px 0px 10px;
    background: rgba(255,255,255,0.2);

    cursor: pointer;

    & .content {
      padding: 20px;
    }

    &.selected, &:hover.enabled {
      & p {
        color: #ff6;
        text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);

        font-weight: 700
      }
      & .ratecard-answer-letter {
        color: #ff6;
        text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);

      }
      background: rgba(255,255,255,0.4);
    }

    &.disabled {
      opacity: 0.4 !important;

      cursor: default;
    }


  }

  & .ratecard-answer-fill-in {
    width: 600px;
    height: 50px;
    border: 1px solid #333;
    @include border-radius(4px);
    color: #873d9b;
    background: white;
    font-size: 1.8em;
    box-sizing: border-box;
    padding: 0 10px;
    margin-top: 20px;
    float: left;
  }






  & .ans-content {
    padding: 15px;
  }

  & p {
    color: #fff;
    font-family: $font-body;
    font-weight: 400;
    font-size: 1.8em;
    line-height: 110%;
    margin-left: 35px;
  }
}