#video-view {
  @extend %view;

  & .main-button {
    right: 3%;
    bottom: 3%;
  }
}

.video-container {
  @include center-align();
  width: 60%;

  pointer-events: none;
  z-index: 0;

  & video {
    width: 100%;
    height: auto;
    box-sizing: border-box;
  }

  box-sizing: border-box;
  &::before {
    content: '';
    z-index: -1;
    top: -11px;
    bottom: -10px;
    right: -11px;
    left: -11px;
    pointer-events: none;
    position: absolute;
    box-sizing: border-box;
    border-style: solid;
    border-image: url(../assets/images/ui/popup/fancy-border.png) 5 round;
    border-width: 5px;
    border-image-slice: 11;
    border-image-width: 5;
    border-image-outset: 11 11;

    border-image-outset: 0px;
  }

}
