<script type="text/template" id="applayout-template">

    <div id="content-container" class="container"> </div>

    <div id="menu-container" class="container"> </div>

    <div id="nav-container" class="container"></div>

    <div id="intro-container" class="container"></div>

    <div id="help-container" class="container"> </div>

    <div id="resources-container" class="container"></div>

    <div id="loading-container" class="container"> </div>

    <div id="ta-container" class="container"> </div>

    <div id="debug-container" class="container"></div>

    <div id="winfocus-container" class="container"> </div>
</script>
